*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Colors */
    :root {
    --black: rgb(24, 24, 24); 
    --red: rgb(128, 0, 0);
    --white: rgb(255, 255, 255);
}

@media(min-width: 401px) {
    html {
        scroll-behavior: smooth;
        margin: 0;
        padding: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: teal;
    }

    header, footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: var(--black);
        color: var(--white);

        box-shadow: 0px 0px 5px black;
    }

    header {
        position: sticky;
        left: 0;
        top: 0;
    }

    .logo {
        display: flex;
        flex-direction: row;

        text-transform: uppercase;

        font-family: 'Rubik Mono One', sans-serif;
    }

    .logo h1 {
        letter-spacing: 22px;
        color: var(--red);
    }

    .logo p {
        font-size: 0.8em;
    }

    .logo img {
        width: 64px;
        height: 64px;
        margin-right: 5px;
    }

    .nav ul {
        list-style: none;
        display: flex;

        align-items: center;
    }

    .nav ul li a {
        transition: all 0.3s;
        color: var(--white);
        text-decoration: none;
        padding-right: 10px;
    }

    .nav ul li a:hover {
        color: var(--red);
    }

    footer {
        padding: 10px;
    }

    footer a {
        text-align: center;
        text-decoration: none;
        color: var(--red);
        text-transform: uppercase;

        transition: all 0.3s;
    }

    footer a:hover {
        transform: translateY(-2px);
        color: var(--white);
    }

    main {
        width: 90vw;
        background-color: var(--white);
        
        margin: 0 auto;

        min-height: 500px;

        margin-top: 5vw;
        margin-bottom: 5vw;

        padding: 8px;
    }
}