@media(min-width: 401px) {
    *,
    *::after,
    *::before {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    /* Colors */
     :root {
        --black: rgb(24, 24, 24) --red: rgb(128, 0, 0);
        --white: rgb(255, 255, 255);
    }
    html {
        scroll-behavior: smooth;
        margin: 0;
        padding: 0;
        font-family: 'Rubik Mono One', sans-serif;
    }
    h1 {
        font-size: 5rem;
        text-align: center;
        background-color: black;
        color: darkred;
        font-family: 'Rubik Mono One', sans-serif;
    }
}